    

td.rightcol{
	border-left: 1px solid;
	padding-left:23px;
}
table {
	
	border-collapse:collapse;
	margin: 5px auto;
	
}

.tableLanguage{
    border-style:solid;
	border: 1px solid;
	text-align:center;
	padding-left:15px;
}

.blueColor {
	color: blue;
	text-align:left;
	
}
h3 {
	 text-decoration: underline
}

.bold {
	font-weight: bold;
	color:green;
	
}